ul {
    list-style: none;
}

.containerPelicula {
    flex-direction: row;
    justify-content: space-around;
}

.contenedorMainPelicula {
    flex-direction: row;
    margin: 0;
}

.flex-30 {
    flex: 0 0 30%;
}

.flex-70 {
    flex: 0 0 50%;
}

.imgPelicula {
    width: 90%;
    padding: 10%;
}

.capaDosImg {
    align-items: center;
}

.capaTresInfo {
    margin: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid gray;
}

.infoPelicula {
    justify-content: center;
}

.infoDos {
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.horario {
    text-align: center;
    display: inline;
    width: auto;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgb(170, 170, 170);
}

.descripPelicula {
    justify-content: center;
    text-align: justify;

}