.tableUno {
    border-collapse: collapse;
    margin-bottom: 5%;
}
td,
th

/* Poner borde en td y th */
    {
    border: 1px solid black;
}

ul {
    list-style: none;
    padding-left: 25%;
}
#menuAdmin li>a {
    color: black;
    padding: 10px;
    display: block;
    border: 1px solid black;
    margin-bottom: 3%;
    opacity: 0.8;
}

html {
    height: 100%;
}


.capaDos {
    align-items: center;
}

.capaTres {
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.capaUno {
    width: 30%;
    display: block;
}

.tituloUno {
    margin-bottom: 4%;
    padding-left: 16%;

}

.tituloDos {
    margin-bottom: 4%;
    padding-left: 8%;
}

.editar {
    color: rgb(rgb(155, 10, 10));
    cursor: pointer;
}

#contenedorForm {
    margin-left: 45px;
    font-size: 12px;
}

.boton {
    color: black;
    padding: 5px;
    margin: 10px;

    background-color: #b9c9fe;
    font-weight: bold;
}