/*Estas son variables en CSS para comodidad :)*/
:root {
  --backgorundC-header: #000e5E;
  --backgroudC-footer: gray;
  --tipo-letra: 'Roboto', sans-serif;
  --color-titulo1: #000000;
  --color-letrafooter: #ffffff;
  --tamano-texto: 20;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-menu);
}

p {
  font-family: var(--familia-font-p);
}


.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-30 {
  flex: 0 0 30%;
}

.flex-70 {
  flex: 0 0 70%;
}

.flex-33 {
  flex: 0 0 30%;
}

.header {
  background-color: var(--backgorundC-header);
}

.logo {
  width: 25%;
  padding: 10px;
}

.menu {
  text-align: right;
  padding-top: 70px;
}

.menu_item {
  color: #ffffff;
  padding: 15px;
  margin-right: 0;
  font-family: var(--tipo-letra);
  font-size: var(--tamano-texto);
}

.ingresar {
  margin-top: 0;
}

.login {
  position: absolute;
  right: 13px;
  top: 5px;
}

.img_carousel {
  width: 100%;
  height: 80%;
}

.titulo {
  font-family: var(--tipo-letra);
  color: var(--color-titulo1);
  text-align: center;
  padding: 10px;
}
.texto{
  font-family: var(--tipo-letra);
  font-size: var(--tamano-texto);
  color: #000000;
}
.peliculas {
  justify-content: center;
  flex-wrap: wrap;
}

.menu_pelicula {
  padding: 20px;
}

.img_pelicula {
  width: 300px;
  height: 350px;
}

.nombre_pelicula {
  padding: 10px;
  text-align: center;
  font-family: var(--tipo-letra);
  color: var(--color-titulo1);
  font-size: var(--tamano-texto);
}

.footer {
  background-color: var(--backgroudC-footer);
  padding: 30px;
  text-align: center;
}
.footer_item{
  color: var(--color-letrafooter);
  font-family: var(--tipo-letra);
  font-size: var(--tamano-texto);
}