.contenedor {
    margin: auto;
    width: 60%;
    padding: 15px;
}

.formCont {
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.boton {
    position: relative;
    bottom: 20px;
    right: 20px;
}

.inputSm {
    width: 300px;
    height: 20px;
}
.itemContenedor{
    margin: 5px;
}
.contenedor_tipo{
    justify-content: space-around;
}
.contenedorLista{
    justify-content: right;
    padding-right: 20%;
}
.btn_contenedor{
    justify-content: center;
}
.btn_crear{
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
  }