.contenedor {
    margin: auto;
    width: 60%;
    padding: 15px;
}

.formCont {
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.boton {
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
}

.inputSm {
    width: 300px;
    height: 20px;
}
.btn_contenedor{
    justify-content: center;
}
.itemContenedor{
    margin: 5px;
}