.infoDos {
  float: left;
  margin: 4%;
  margin-top: 5%;
  width: 150px;
}

.peliUnoInfo {
  margin-bottom: 8%;
}

.horario {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgb(170, 170, 170)
}

.infoDos {
  float: left;
  margin: 4%;
  margin-top: 5%;
}

.content_header {
  justify-content: space-around;
  margin: 10px;
}

.bordes {
  border: 1px solid gray;
}
.contenido_usuario {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabla_contenedor {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.tabla_centro {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.titulo_tabla {
  text-align: center;
}

.tabla_tarjetas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
}
.btn{
    margin: 20px;
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
}
.boton{
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
}
table tr td {
  position: relative;
  min-height: 35px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: white;
  font-weight: bold;
}

td,
th {
  line-height: 35px;
  vertical-align: middle;
  border: 1px solid #000;
  text-align: left;
}
