.contenedor {
    margin: auto;
    width: 60%;
    padding: 15px;
}

.formCont {
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.btn {
    text-align: center;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
}

.inputSm {
    margin-left: 10px;
    width: 300px;
    height: 20px;
}
.itemContenedor{
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.contenedor_email{
    padding-left: 40px;
}
.btn_itemContenedor{
    justify-content: space-around;
}